# .env | The environment variables defined here are to be accessed by the container during runtime
# NB! Cloud secrets are a better option for handling sensitive environment variables.

# Weights & Biases configuration
WANDB_API_KEY="daf1cd5758952021576907c1b166dca3b1d1af8a"
